.header{
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.979)),
    linear-gradient(to bottom, rgba(5, 5, 5, 0), rgba(0, 0, 0, 0.61)),
    url(../assets/bg.netflix.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    line-height: 2rem;
    border-bottom:6px solid rgb(70, 68, 68) ;
    nav{
        display: grid;
    grid-template-columns: 50% 50%;
    gap: 15%;
    align-items: center;
    margin-left: 7rem;
    margin-bottom: 8rem;
    article{
        width: 20rem;
    }
    button{
    padding: .25rem 1rem .25rem 1rem;
    margin-left: 1rem;
    font-size: medium;

    }
    }
    .text-header{
        margin: auto;
        text-align: center;
        
    }

}



@media screen and (max-width: 1024px){
    .header{
        nav{
            margin-left: 6%;
            margin-bottom: 5rem;
    grid-template-columns: 35% 20%;
            gap: 0%;
        }
        article{
            width: 13rem !important;
            img{
                width: 100px;
            }
            select{
                font-size: small;
                width: 6rem;
            }
        }
        h1{
            font-size: 2.5rem;
        }
    }
    input{
        width: 11rem;
        margin-bottom: 1rem;
    }
}



@media screen and (max-width: 600px){
    .header{
        nav{
            margin-left: 6%;
    grid-template-columns: 35% 20%;
            gap: 0%;
        }
        article{
            width: 13rem !important;
            img{
                width: 90px;
            }
            select{
                font-size: small;
                width: 5rem;
            }
        }
        h1{
            font-size: 2.5rem;
            width: 21rem;
        }
    }
    input{
        width: 20rem;
        margin-bottom: 1rem;
    }
}